.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Success:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Danger:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Success {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: #5C9210;
}

.Danger {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: #944317;
}